@import url('https://fonts.googleapis.com/css2?family=Acme&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Russo One', sans-serif;
    font-weight: 40%;
    background-image: linear-gradient(
        to right,
        rgba(162, 225, 219),
        rgba(85, 203, 205)
    );

}

/* headings and logo  */

.header {
    box-sizing: border-box;
    padding-bottom: 75px;
}

#logo {
   text-align: center;
   font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    font-size: 400%;
    text-decoration: underline;
    color: rgba(243, 149, 98);
}


/* navigation links */

#menu {
    font-size: 110%;
    color: rgba(243, 149, 98);
}

#menu,
#logo {
    line-height: 75px;
}

#menu ul {
    width: 300px;
    float: right;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgba(243, 149, 98);
}

.active {
    border-bottom: 2px solid rgba(243, 149, 98);
}

/* Rules */

#rules {
    box-sizing: border-box;
    background-color: rgba(243, 149, 98);
    border-radius: 12px;
    width: 75%;
    height: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    letter-spacing: 4px;
}

#rules h3 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(255,255,255);
    text-decoration: underline;
    font-size: 175%;
}

#rules ol {
    display: inline;
    text-align: center;
    font-weight: 200;
    color: rgba(255,255,255);
    list-style: none;
    font-size: 20px;
}

/* Video */

#video {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgba(255,255,255);
}

#video iframe {
    width: 100%;
    height: auto;
}

/* Game Layout */



/* media queries */

@media (min-width: 768px) and (max-width : 1200px) {

    #video {
        box-sizing: border-box;
        margin-left: 1%;
        margin-right: 1%;
        
    }
    
    #video iframe {
        width: 100%;
        height: 100vh;
    }

    .btn {
        border-radius: 50%;
        height: 14%;
        width: 19%;
        display: block;
        margin-bottom: 4%;
    }

    .center {
        transform: translate(200%, 14%);
    }
}

@media (min-width: 1200px) and (max-width : 1600px) {

}

@media (min-width: 1600px) and (max-width : 2560px) {

}

@media (min-width: 2560px) and (max-width : 3440px) {

}