@import url(<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Rajdhani:wght@500&display=swap" rel="stylesheet">);


body {
    font-family: Aboreto, sans-serif;
    font-weight: 40%;
}

/* headings and logo  */

.header {
    box-sizing: border-box
    padding-bottom: 8px;
}

#logo {
   text-align: center;
   font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
    font-size: 400%;
    text-decoration: underline;
    color: #000000;
}


/* Rules */

#rules {
    box-sizing: border-box;
    width: 75%;
    height: 150%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 4px;
}

#rules h3 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 175%;
}

#rules ol {
    display: inline;
    text-align: center;
    font-weight: 200;
    color: #000000;
    list-style: none;
    font-size: 20px;
}

/* Video */

#video {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}

#video iframe {
    width: 100%;
    height: auto;
}

/* Game Layout */

.game-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: block;
}

.btn {
    border-radius: 50%;
    height: 20%;
    width: 28%;
    display: block;
}

#spock1 {
    background: url('../images/apple-touch-icon.png') no-repeat center center;
    background-size: contain;
    background-color: #00FFFF;
}

#rock1 {
    background: url('../images/rock\ apple-touch-icon.png') no-repeat center center;
    background-size: contain;
    background-color: #76B947;
}

#paper1 {
    background: url('../images/paper\ apple-touch-icon.png') no-repeat center center;
    background-size: contain;
    background-color: #e0218a;
}

#lizard1 {
    background: url('../images/lizard\ apple-touch-icon.png') no-repeat center center;
    background-size: contain;
    background-color: #ffef00;
}

#scissors1 {
    background: url('../images/scissors\ apple-touch-icon.png') no-repeat center center;
    background-size: contain;
    background-color: #FF8624;
}

/* footer */

footer {
    margin-top: 50px;
    height: 150px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    display: block;
}

.score-area p {
    text-align: center;
    font-size: 175%;
    font-weight: 300;
}